# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/dist
/build

# local env
.env
.env.*
!.env.example

# build
*.tsbuildinfo
.vite

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor
.idea
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db
