html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

#app {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    background-color: cornsilk;
    border: 1px solid #F0FFF0;
    border-radius: 1px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    position: relative;
    transform: translateY(25%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------------------------------------------------------------ */

#inputFrame {
    margin: 20px 0px 20px 0px;
}

#upload_input {
    width: 200px;
    align-self: center;
}

/* ------------------------------------------------------------ */

#cutter_canvas {
    border: 2px solid #964e4e;
    background: #b1b1b1;;
}

/* ------------------------------------------------------------ */