/* ----------------------------整体页面-------------------------------- */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#app {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: cornsilk;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* --------------------------整体上下两部分---------------------------- */

#title_frame {
    width: 100%;
    height: 40%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#handle_frame {
    width: 100%;
    height: 60%;
    background-color: gainsboro;
}

/* -----------------------------标题部分------------------------------- */

#title {
    font-size: 78px;
    text-align: center;
}

#introduce {
    text-align: center;
}

/* -----------------------------操作部分-------------------------------- */

#handle_frame_first {

}

/* ------------------------------------------------------------ */

#upload_input {
    width: 200px;
    align-self: center;
}

/* ------------------------------------------------------------ */