.option-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;

  .frame {
    width: 600px;
    display: flex;
    justify-content: space-around;

    &-content {
      flex: 1;
      opacity: 0.3;

      &-title {
        padding-bottom: 8px;
        cursor: pointer;

        &:hover {
          color: antiquewhite;
        }
      }

      &-title-checked {
        border-bottom: 3px solid rgb(255, 255, 255);
      }

      &-list {
        width: 100%;

        &-item {
          display: flex;
          justify-content: center;
          align-items: center;

          &-input {
            width: 42px;
            margin-left: 8px;
          }
        }
      }
    }

    &-content-checked {
      opacity: 1;
    }
  }
}
