name: Sync Gitee

on:
  push:
    tags:
      - '*'

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - name: Mirror Github repos to Gitee
        uses: Yikun/gitee-mirror-action@v0.10
        with:
          src: github/hu243285237
          dst: gitee/hu243285237
          dst_key: ${{ secrets.GITEE_PRIVATE_KEY }}
          dst_token: ${{ secrets.GITEE_TOKEN }}
          static_list: 'PictureCutter_Web'
